footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5% 0%;
  border-bottom-style: solid;
  border-bottom-width: thin;
}

#footer-logo{
  margin: 0% 0%;
  width: 20%;
}

#footer-nav{
  display: flex;
  flex-direction: row;
  width: 65%;
  padding-left: 3%;
  border-left-style: solid;
  border-left-width: thin;
}

.nav-column{
  margin-right: 15%;
}

.nav-column p{
  font-family: 'Pretendard';
}

.nav-column p:first-child{
  font-weight: bold;
  font-size: 20px;
  margin-top: 0%;
}

.nav-column p{
  font-size: 14px;
  padding: 4px 0px;
}

.nav-column p:last-child{
  margin-bottom: 0%;
}

.nav-column button{
  background-color: black;
  color: white;
  border-radius: 5px;
  overflow: hidden;
}
