@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");


#contact-section{
    margin: 0% 3% 3% 3%;
    display: flex;
    justify-content: space-between;
    height: 240px;

    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 2px;
    border-color: gray;

    padding: 3% 0%
 }

#contact-title {
    border-right-style: solid;
    border-right-width: thin;
    border-color: gray;
    width: 75%;
}

#contact-title p:first-child{
    font-size: 15px;
    font-family: "Roboto Mono", monospace;
    font-weight: bold;
}

#contact-title p{
    font-size: 50px;
    font-family: 'Pretendard';
    margin: 1% 0%;
    line-height: 110%;
    font-weight: 550;
}



#contact-summary{
    display: flex;
    width: 25%;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

#contact-summary p{
    padding-left: 5%;
    margin: 1%;
}