@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

* {
    font-family: 'Pretendard';
}

#hero{
    display: flex;
    margin: 3% 3% 0% 3%;

    border-top-style: solid;
    border-width: 2px;
    border-color: gray;

    padding: 3% 0%;
}

#hero-title{
    width: 65%;
    margin-right: 8%;
}

#hero-title p:first-child{
    font-size: 100px;
    margin: 0%;
    line-height: 85%;
}

#hero-title p:nth-child(2){
    margin-top: 5%;
    font-size: 18px;
}

#hero-summary{
    border-left-style: solid;
    border-left-width: thin;
    padding-left: 3%;
}

.hero-content{
    margin-bottom: 20%;
}

.hero-content p{
    font-size: 12px;
    margin: 0% 0%;
}

.hero-content p:last-child{
    font-weight: bold;
}

.hero-content:last-child{
    margin-bottom: 0%;
}